<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>
  
  
<servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>prac01.test01.FirstServlet</servlet-class>
</servlet>

<!-- <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
</servlet-mapping>
  
<servlet>
	<servlet-name>MemberUpdateServlet</servlet-name>
	<servlet-class>prac01.test01.MemberUpdateServlet</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/test</param-value>
	</init-param>
	<init-param>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>qwer</param-value>
	</init-param>
</servlet>

<servlet-mapping>
	<servlet-name>MemberUpdateServlet</servlet-name>
	<url-pattern>/member/update</url-pattern>
</servlet-mapping> -->

<context-param>
	<param-name>driver</param-name>
	<param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>
<context-param>
	<param-name>url</param-name>
	<param-value>jdbc:mysql://localhost:3306/test</param-value>
</context-param>
<context-param>
	<param-name>username</param-name>
	<param-value>root</param-value>
</context-param>
<context-param>
	<param-name>password</param-name>
	<param-value>qwer</param-value>
</context-param>
  
  
<!-- <filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>prac01.test01.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	
</filter>

<filter-mapping>
	<filter-name>CharacterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping> 
filter클래스에 @WebFilter 애너테이션 적
-->
 
 <servlet>
 	<servlet-name>AppInitServlet</servlet-name>
 	<servlet-class>prac01.test01.AppInitServlet</servlet-class>
 	<load-on-startup>1</load-on-startup>
 </servlet>
 
</web-app>
